html {
  scroll-snap-type: y mandatory;
}

.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-image: linear-gradient(120deg, #a8edea 0%, #fed6e3 100%);
}

.app__top {
  margin-bottom: -100px;
}
.app__top > h1 {
  text-align: center;
  color: black;
  font-size: 1.5em;
}

.app__icon {
  height: 10vh;
  color: white;
}

.app__videos {
  position: relative;
  height: 65vh;
  background-color: antiquewhite;
  width: 70%;
  border-radius: 20px;
  /* max-width: 450px;
  max-height: 1200px; */
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

/* Hide scrollbar for Chrome, Safari adn Opera */
.app__videos::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge adn Frirefox */
.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
